.AvailableTeachersList {
    width: 100%;
}

.AvailableTeachersList h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.AvailableTeachersList ul {
    list-style: none;
    padding: 0;
}

.AvailableTeachersList li {
    display: block; /* Changed from flex to block */
    margin-bottom: 10px;
}

.AvailableTeachersList .teacher-name {
    display: inline; /* Allows inline elements to sit next to each other */
    margin-right: 50px; /* Adjust as needed */
}

.AvailableTeachersList li button {
    display: inline; /* Allows the button to sit next to the teacher-name */
    margin-left: 10px; /* Adjust or remove as needed */
    width: 150px; /* Adjust or remove as needed */
    height: 35px; /* Adjust or remove as needed */
    padding: 5px 15px; /* Adjust as needed for padding */
}
